.container{
  font-size: 14px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: Calibri, sans-serif;
 }
 
 .hoja3{
   margin: 10px;
   height: 210mm;
   width: 297mm;
   color: black;
   background-color: rgb(255, 255, 255);
}

.headerText{
  p{
    margin: 0;
    font-size: 16px;
  }
}

.tableInputs{
  font-size: 14px;
  table{
    width: 100%;
  }
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  .trFormato{
    text-align: center;
  }
  .inputDif{
    text-align: center;
    width: 300px;
  }
  input{
    height: 20px;
    font-size: 12px;
    width: 500px;
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    color: black;
  }
}

.tableBody{
  height: 350px;
  font-size: 12px;
  margin-left: 50px;
  margin-right: 50px;
  table{
    border-collapse: collapse;
    th{
      border: 1px solid black;
      padding: 0px;
      text-align: center;
    }
    td{
      white-space: pre-line;
      border: 1px solid black;
      height: 40px;
      padding: 1px;
      text-align: center;
    }
  }
}

.footerP3{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  p{
    margin: 0;
  }
  .input1{
    border-bottom: 1px solid black;
  }
  .input2{
    border-bottom: 1px solid black;
    font-size: 16px;
    width: 250px;
  }
  .input3{
    border-bottom: 1px solid black;
    width: 250px;
    font-size: 8px;
  }
  span{
    font-size: 12px;
  }
  input{
    height: 20px;
    font-size: 10px;
    text-align: center;
    width: 300px;
    color: black;
    background-color: transparent;
    border: 0;
    margin: 0;
  }
}